*,body{
  font-family: 'Karla', sans-serif;
  font-weight: 500;
}
body{
  justify-content: center;
  min-height: 100vh;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: white;
  padding:1em 2em;
}
nav ul{
  display: flex;
  gap:10px;
}
nav ul li{
  list-style: none;
}
nav a {
  color:black;
  text-decoration: none;
  padding: 0 1em;
}
main{
  text-align: center;
}
.hero{
  background:#495E57;
  display: flex;
  justify-content: center;
  padding: 2em 8em;
}
.hero .inner-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.inner-wrapper{
  width: 100%;
  max-width: 1200px;  
  position: relative;
}
header .inner-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6em;
}
.hero h1 {
  color:#F4CE14;
  font-family: 'Markazi Text', serif;
  font-size: 58px;
  margin: 0;
}
.hero h2 {
  color:white;
  font-family: 'Markazi Text', serif;
  margin: 0;
  font-size: 30px;
  position: relative;
  top:-.5em;
  text-align: left;
}
.hero div:first-child{
  text-align: left;
}
.hero div:last-child{
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero p {
  color:white;
  width: 70%;
}
.hero img{
  background: rgb(49, 49, 49);
  height: 400px;
  width: 350px;
  display: block;
  border-radius: 10px;
  margin-bottom: -100px;
}
.hero button{
  background: #F4CE14;
  border:none;
  padding: 1em 2em;
  border-radius: 5px;
  cursor: pointer;
}
.hero button:hover{
  background: #f8d735;
}
.specials h1, .testimonials h1{
  text-align: left;
  font-size: 58px;
  font-family: 'Markazi Text', serif;
}

.specials, .testimonials{
  padding: 8em 8em;
  position: relative;
  display: flex;
  flex-basis: 50%;
  justify-content: space-evenly;
}

.specials button{
  background-color: black;
  color:white;
  border:none;
  border-radius: 5px;
  padding: 1em 2em;
  position: absolute;
  right: 0;
  top:4em;
  cursor: pointer;
}
.feature{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:1em;
}
.feature div{
  background-color: #EDEFEE;
  padding: 1em;
}
.testimonials h1{
  text-align: center;
}
.testimonials{
  background: #D9D9D9;
  padding: 0 2em 2em;
}
.reviews{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer{
  display: flex;
  justify-content: center;
  background-color: #a5c9ca;
  padding:2em;
}
nav.mobile{
  display: none;
}


@media only screen and (max-width: 800px){
  .hero{
    padding: 2em;
    margin-bottom: 1em;
  }
  .hero div:first-child{
    margin: 0 0 2em;
  }
  .hero img{
    height: 300px;
  }
  .hero .inner-wrapper{
    flex-direction: column;        
  }
  .specials{
    padding: 2em;
  }
  .feature{
    grid-template-columns: 1fr;
  }
  .reviews{
    grid-template-columns: 1fr;
  }
  main{
    grid-template-columns:1fr;
    padding: 0;
  }
  .burger img{
    cursor: pointer;
   
  }
  nav.mobile {
    display: flex;
    width: 100%;
    text-align: right;
    float: right;
    margin-left: 6em;
  }

  nav.not-mobile{
    display: none;
  }
}

