*,body{
  font-family: 'Karla', sans-serif;
  font-weight: 500;
}
body{
  justify-content: center;
  min-height: 100vh;
}
header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background: white;
  padding: 0 8em;
}
nav ul{
  display: flex;
  gap:10px;
}
nav ul li{
  list-style: none;
}
nav a {
  color:black;
  text-decoration: none;
  padding: 0 1em;
}
main{
  text-align: center;
  min-height: 73vh;
}
.hero{
  background:#495E57;
  display: flex;
  justify-content: center;
  padding: 2em 8em;
}
.hero .inner-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.inner-wrapper{
  width: 100%;
  max-width: 1200px;  
  position: relative;
}
header .inner-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.hero h1, .chicago h1 {
  color:#F4CE14;
  font-family: 'Markazi Text', serif;
  font-size: 58px;
  margin: 0;
}
.hero h2, .chicago h2{
  color:white;
  font-family: 'Markazi Text', serif;
  margin: 0;
  font-size: 30px;
  position: relative;
  top:-.5em;
  text-align: left;
}

.chicago{
  padding: 4em 8em;
}
.chicago h1, .chicago h2{
  color:black;
}
.hero div:first-child{
  text-align: left;
}
.hero div:last-child{
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero p {
  color:white;
  width: 70%;
  padding: 0 0 2em;
}
.hero img{
  background: rgb(49, 49, 49);
  height: 400px;
  width: 350px;
  display: block;
  border-radius: 10px;
  margin-bottom: -100px;
}
.hero .reserve{
  background: #F4CE14;
  border:none;
  padding: 1em 2em;
  border-radius: 5px;
  cursor: pointer;
  /* font-size: 14px; */
  text-decoration: none;
  color:black;
}
.hero .reserve:hover{
  background: #f8d735;
}
.hero img{
  object-fit: cover;
}
.specials h1, .testimonials h1{
  text-align: left;
  font-size: 58px;
  font-family: 'Markazi Text', serif;
}

.specials, .testimonials, .chicago{
  padding: 8em 8em;
  position: relative;
  display: flex;
  flex-basis: 50%;
  justify-content: space-evenly;
}

.specials .menuButton{
  background-color: black;
  color:white;
  border:none;
  border-radius: 5px;
  padding: 1em 2em;
  position: absolute;
  right: 0;
  top:4em;
  cursor: pointer;
  text-decoration: none;
}
.feature{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:1em;
}
.feature div{
  background-color: #EDEFEE;  
}
.feature p {
  padding: 0 1em 1em;
}
.feature img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.feature span {
  color:#EE9972;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Karla', sans-serif;
}
.feature .details{
  padding: 1em 0;
  display: grid;
  grid-template-columns: 6fr 1fr;
  align-items: center;
  text-align: center;
}
.testimonials h1{
  text-align: center;
}
.testimonials{
  background: #D9D9D9;
  padding-top: 2em;
}
.reviews{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:1em;
}
.reviews > div{
  background: white;
}
.reviews h2, p{
  /* float: right; */
}
.reviews h2{
 margin-top: 1em; 
}
.reviews > div div{
  background-color: gray;
}
.reviews > div .rating{
  width: 200px;
  height: 100px;
  margin: -20px;
}
.reviews > div .person{
  float: left;
  background: beige;
  margin: 1em;
  width: 100px;
  height: 100px;
}
.chicago .inner-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.chicago{
  display: flex;
  justify-content: center;
}
.chicago h1, .chicago h2, .chicago p{
  text-align: left;
}
.chicago p{
  max-width: 300px;
}
.chicago .inner-wrapper{
  padding: 4em 0 4em;
}
.chicago img{
  float: right;
  display: block;
  position: absolute;
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 8px gray;
  height: 280px;
  width: 250px;
  right:2em;
  top:50%;
  object-fit: cover;
  transform: translate(-50%, -15%);
}
/* .chicago .inner-wrapper div:first-child{  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;  
} */
.chicago img:last-child{
  right: -4em;
  top: -2em;
}
footer{
  display: flex;
  justify-content: center;
  background-color: #a5c9ca;
  padding:2em;
}
nav.mobile{
  display: none;
}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  /* align-items: center; */
}

footer nav a{
  padding: 0;
}
footer h2{
  font-size: 20px;
  text-align: left;
}

footer nav ul {
  padding: 0;
  display: block;
  text-align: left;
}


.booking-wrapper{
  padding: 2em;
  display: flex;
  justify-content: center;
}
.booking button{
  cursor: pointer;
  padding: 1.5em 2em;
  background: black;
  color:white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.booking button:disabled{
  cursor: default;
  padding: 1.5em 2em;
  background: gray;
}

.booking{
  display: grid;
  max-width: 300px;
  gap:20px; 
}
.booking input{
  width: 100%;
  padding: 1em;
  border-radius: 4px;
  box-shadow: none;
  /* border:none; */
}

.error{
  color:rgb(154, 36, 36);
}

@media only screen and (max-width: 800px){
  footer{
    grid-template-columns: 1fr;
  }
  header{
    padding: 0 2em;
  }
  .chicago .inner-wrapper{
    grid-template-columns: 1fr;
  }
  .chicago .inner-wrapper div:last-child{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .chicago img, .chicago img:last-child{
    position: relative;
    display: flex;
  }
  .hero{
    padding: 2em;
    margin-bottom: 1em;
  }
  .hero div:first-child{
    margin: 0 0 2em;
  }
  .hero img{
    height: 300px;
  }
  .hero .inner-wrapper{
    flex-direction: column;
  }
  .specials{
    padding: 2em;
  }
  .feature{
    grid-template-columns: 1fr;
  }
  .reviews{
    grid-template-columns: 1fr;
  }
  main{
    grid-template-columns:1fr;
    padding: 0;
  }
  .burger img{
    cursor: pointer;
  }
  nav.mobile {
    display: block;
    position: absolute;
    right: 0em;
    top: 2.5em;
  }

  nav.not-mobile{
    display: none;
  }
}

